body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color:	#8A2BE2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;  
}
